.form-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Adjust height as needed */
  padding-bottom: 30px;
}

.form-container {
  width: 70%;
  margin: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-wrapper {
  display: flex;
  width: 30%;
  margin: 10px;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

h3 {
  color: #666;
  margin-top: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.back-link {
  position: fixed;
  top: 0;
  left: 0;
  width: 6%;
  margin: 5px;
  background: none;
  color: #2584be !important;
}

.back-link:hover {
  transform: scale(1.1);
  background: none;
}

button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #555;
}

p {
  text-align: center;
  color: green;
}

.back-link {
  display: inline-block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.back-link:hover {
  text-decoration: underline;
}
