/* Job-Posting-and-Searching-Platform\client\src\styles\EditProfile.css */
.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

/* Section Title */
.section-title {
  color: #333;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

/* Label */
.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

/* Input */
.input {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

/* Text Area */
.text-area {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  height: 100px;
}

/* Submit Button */
.submit-button {
  padding: 10px 20px;
  background-color: #2596be;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #1a7396;
}

/* Back Link */
.back-link {
  padding: 5px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.back-link:hover {
  background-color: rgba(231, 84, 128, 0.929);
  color: white;
  border-color: #e75480;
  border-radius: 15px;
}

/* Form Wrapper */
.form-wrapper {
  padding: 20px;
  background-color: #fff;
}

/* Message */
.message {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e7f4ff;
  color: #333;
  border: 1px solid #b3d4fc;
  border-radius: 5px;
}
